body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: "Lato", sans-serif;
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 1120px;;
    margin: auto;
}

.svg-wrapper {
    position: relative;
}

svg {
    overflow: hidden;
}

#world {
    display: flex;
}

.country1 {
    fill: rgba(66, 45, 14, 0.6);
    stroke-opacity: 1;
}

.graticule {
    fill: none;
    stroke: black;
    stroke-width: .5;
    opacity: .2;
}

.labels {
    font: 12px sans-serif;
    fill: /*rgb(245, 241, 16);*/
    yellow;
    text-shadow: 1px 1px 1px rgb(63, 61, 61);
    opacity: 0.7;
    /*display: none;*/
}

.clabel {
    opacity: 0;
}

.noclicks {
    pointer-events: none;
}

.country path {
    stroke: rgb(80, 64, 39);
    stroke-linejoin: round;
    stroke-width: 0.6;
    /*fill: rgb(117, 87, 57);*/
    /*opacity: .1;*/
}

.country path:hover {
    /*fill-opacity: .1;*/
    stroke: rgba(80, 64, 39, 0.6);
    stroke-width: 1;
    opacity: 1;
    fill: rgba(117, 87, 57, 0.6);
}

hr {
    border: none;
    height: 1px;
    opacity: 0.25;
    background-color: black;
}

.world-wrapper .InactiveCountry {
    fill: #FDBF6F;
}

.world-wrapper .ActiveCountry {
    fill: #FF7F00;
}

.world-wrapper .InactiveCountry-off {
    fill: rgba(117, 87, 57, 0.6);
}

.world-wrapper .ActiveCountry-off {
    fill: rgba(117, 87, 57, 0.6);
}

.hiv-world .HIV {
    fill: #E31A1C;
}

.hiv-world .HIV-inactive {
    fill: #FB9A99;
}

.ma-world .MA {
    fill: #1F78B4;
}

.ma-world .MA-inactive {
    fill: #A6CEE3;
}

.tb-world .TB {
    fill: #33A02C;
}

.tb-world .TB-inactive {
    fill: #B2DF8A;
}

.landTooltip {
    position: absolute;
    display: none;
    pointer-events: none;
    background: #fff;
    padding: 5px;
    text-align: left;
    border: solid #ccc 1px;
    color: #666;
    font-size: 14px;
    font-family: sans-serif;
}


/**** controls *****/

.controls-container {
    width: 355px;
}

.controls-container {
    background: hsla(0, 0%, 100%, .7);
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
    margin: 1.5rem 0 0 1rem;
    padding: .5rem 1rem;
    z-index: 2;
}

.selectors-container {
    display: flex;
}

.divider {
    clear: both;
    margin: 1rem -1rem;
    height: 1px;
    opacity: 0.25;
    border: none;
    background-color: rgba(0, 0, 0, .25);
}

.country-name-svg {
    box-sizing: border-box;
    font: 14pt sans-serif;
    width: 80%;
    top: 48%;
    position: absolute;
    line-height: 1.2;
    padding: 0px;
    color: yellow;
    display: block;
    left: 10%;
    text-align: center;
    opacity: 0;
    transition: opacity ease 0.8s;
    z-index: -3;
    text-shadow: 1px 1px 1px rgb(63, 61, 61);
}

.country-data {
    /*box-sizing: border-box;
    font-size: 12pt;
    width: 100%;
    margin: auto;
    line-height: 1.2;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 7px;
    display: block;*/
    background: hsla(0, 0%, 100%, .7);
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .12);
    margin: 1.5rem 0 0 1rem;
    padding: .5rem 1rem;
    
    opacity: 0;
    transition: opacity ease 0.8s;
}

.country-data table{
    width: 100%;
}
/* Creates a small triangle extender for the tooltip */


/*.country-data:after {
    box-sizing: border-box;
    //display: inline;
    font-size: 14px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25b2";
    position: absolute;
    text-align: center;
}*/


/* style northward tooltips differently */


/*.country-data.n:after {
    margin: -10px 0 0 0;
    top: 0%;
    left: 0;
}*/

.cs-Active {
    color: green;
}

.cs-Inactive {
    color: red;
}

.shown {
    opacity: 1;
    z-index: 3;
}


/**** radio selectors ****/

.radio-container {
    display: flex;
}

.dis-selector {
    flex-grow: 1;
}

input[type="radio"] {
    display: none;
}

.selectors-container label {
    cursor: pointer;
}

#hiv+label {
    color: #E31A1C;
}

#hiv+label span {
    border: 1px solid #E31A1C;
}

#hiv:checked+label span {
    background-color: #E31A1C;
    box-shadow: inset 0 0 0 2px #fff;
}

#ma+label {
    color: #1F78B4;
}

#ma+label span {
    border: 1px solid #1F78B4;
}

#ma:checked+label span {
    background-color: #1F78B4;
    box-shadow: inset 0 0 0 2px #fff;
}

#tb+label {
    color: #33A02C;
}

#tb+label span {
    border: 1px solid #33A02C;
}

#tb:checked+label span {
    background-color: #33A02C;
    box-shadow: inset 0 0 0 2px #fff;
}

.country-off {
    fill: black !important;
}

input[type="radio"]+label span {
    border-radius: 100%;
    display: inline-block;
    width: .875rem;
    height: .875rem;
    margin-top: 1px;
    margin-right: .25rem;
    position: relative;
    vertical-align: top;
    cursor: pointer;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

input[type="radio"]+label span,
input[type="radio"]:checked+label span {
    -webkit-transition: background-color 0.4s linear;
    -o-transition: background-color 0.4s linear;
    -moz-transition: background-color 0.4s linear;
    transition: background-color 0.4s linear;
}


/*********************************/

.focused {
    /*fill: rgb(211, 30, 202) !important;*/
    fill: #FFFF99 !important;
    /*fill: #CAB2D6 !important;*/
    
    /*stroke: white !important;*/
    /*stroke-width: .5;*/
    opacity: 1;
}

.dis-result {
    display: none;
    height: 100%;
}

.indicator {
    /*border-bottom: 1px dotted #ccc;*/
    /*padding: 10px 0px;*/
}


/*buttons*/

a.globalfootercard,
div.globalfootercard,
a.globalfootercard1 {
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    /*margin: 15px;*/
    z-index: 499;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: center;
    overflow: hidden;
    /*padding: 40px 40px 40px 120px;*/
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    transition-property: color, background-color, box-shadow, transform;
    transition-duration: .35s;
    text-decoration: none;
    width: 90%;
    padding: 10px 10px;
    margin: auto;
    font-size: 14px;
    line-height: 26px;
    /*font-weight: 600;*/
    /*text-transform: uppercase;*/
    letter-spacing: .025em;
    margin-top: 17px;
    text-decoration: none;
}

a.globalfootercard:hover,
div.globalfootercard:hover,
a.globalfootercard1:hover {
    color: #0068b3;
    transform: translateY(-2px);
    box-shadow: 0 18px 35px rgba(50, 50, 93, .1), 0 8px 15px rgba(0, 0, 0, .07);
}

a.globalfootercard:active,
div.globalfootercard:active,
a.globalfootercard1:active {
    transform: translateY(2px);
    box-shadow: 0 11px 20px rgba(50, 50, 93, .1), 0 6px 11px rgba(0, 0, 0, .08);
}

a.globalfootercard1:hover,
a.globalfootercard1:active,
a.globalfootercard--blue,
a.globalfootercard--blue:active,
a.globalfootercard--blue:active {
    background-color: #2e99e6 !important;
    color: #fff !important;
}

a.globalfootercard--green--inv,
a.globalfootercard--green--inv:hover,
a.globalfootercard--green--inv:active {
    color: #24b47e !important;
}

a.globalfootercard--green,
a.globalfootercard--green:hover,
a.globalfootercard--green:active {
    background-color: #24b47e !important;
    color: #fff !important;
}

.how-to {
    font-family: Courier New, Courier, monospace;
    font-size: 12px;
    color: #666;
    height: 30%;
    bottom: 0px;
}

.title,
.subtitle {
    text-align: center;
    width: 90%;
    margin: auto;
}

.legend {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.legend div {
    cursor: pointer;
}

.legend div span {
    display: inline-block;
    border: 1px solid rgba(80, 64, 39, 0.6);
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.legend .off-legend {
    opacity: 0.2;
}

.highlight_column span, .highlight_column div{
    font-weight: bold;
}

.rad,
.line,
.box {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.rad {
  /*margin: 0 auto;*/
  display: block;
  position: absolute;
  right: 10px;
  width: 30px;
  height: 30px;
  top: 20px;
  text-align: center;
  padding: 1px;
  background-color: rgba(250, 250, 250, 0.1);
  border: 3px solid rgba(100, 200, 250, 0.5);
  border-radius: 100%;
  cursor: pointer;
  box-sizing: border-box;
  color: rgb(100, 200, 250);
}

.rad:hover {
  top: 20px;
  border: 4px solid rgba(100, 200, 250, 0.5);
}

.line {
  /*margin: 0 auto;*/
  display: block;
  position: absolute;
  width: 1px;
  height: 0px;
  right: 25px;
  top: 48px;
  opacity: 0.2;
  background-color: rgba(100, 200, 250, 0.5);
}
.line.open {
  height: 80px;
  opacity: 1;
}

.box {
  /*margin: 0 auto;*/
  display: block;
  position: absolute;
  width: 401px;
  height: 0px;
  top: 120px;
  right: 25px;
  opacity: 0;
  background-color: #fafafa;
  /* text-align: right; */
  line-height: 30px;
  color: rgb(100, 200, 250);
  overflow: hidden;
  border: 1px solid rgba(100, 200, 250, 0.5);
  box-sizing: border-box;
  z-index: 100;
  padding: 10px 20px;
}
.box.open {
  height: 252px;
  right: 25px;
  opacity: 1;
}